body {
 font-size: 22px;
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1;
 background: blanchedalmond;
}

h1 {
 text-align: center;
 color: rgb(0, 38, 255);

}


.link-container {
 text-align: center;

}

.link {
 display: inline-block;
 margin: 0 15px;
 text-decoration: none;
 color: red;
}


h2 {
 color: green;
}

h3 {
 color: black;
}